.player-wrapper {
  position: relative;
  overflow: hidden;
  /* padding-top: 56.25%;  */
  
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
:root {
  --plyr-color-main:  rgba(239, 68, 68, 0.856);
  --plyr-menu-background: rgb(22, 22, 22);
  --plyr-menu-color: rgba(255, 255, 255, 0.832);
}

video {
	width: 100%;
}